/*	Swifter version 0.1.0	*/

/*	Remove the default browser settings for all elements. */

*{margin: 0;padding: 0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height: 1.5}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{-webkit-tap-highlight-color:transparent;background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em} sub{bottom:-0.25em}
img{border:0} svg:not(:root){overflow:hidden} figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
/* End extract from normalize.css */

/*	Set the maximum body width to 100%. */

body{width: 100%;}

/*	Block display for fluid container.Current "Swifter version 0.1.0" 
	only support for fluid container.Hack clearfix.Rounded by block 
	display for manipulating and controlling. */

.container:before,.container:after{
	display: block !important;
	content: "" !important;
	clear: both !important;
	height: 100%;
}

/*	All float elements must set from here. */

.col,.row{float: left !important;}

/*	Create the row for manipulate the colums. */

.row{clear: both !important;width: 100%;height: auto;}

/* Example for testing */

.container-example:before,.container-example:after{
	display: block !important;
	content: "" !important;
	clear: both !important;
}

.row-example{
	float: left;
	clear: both;
	width: 90%;
	height: auto;
	margin: 0 5% 0 5%;
	background-color: #ccc;
}

/*	End for testing */

/* Create gutter.[NEED CERTAIN CALCULATE] */

.col+.col
{
	margin-left: 0.00001%;
}

/* 12 colum grid system for small state */

.col.sm1{width: 8.33333%;}
.col.sm2{width: 16.66666%;}
.col.sm3{width: 25%;}
.col.sm4{width: 33.33333%;}
.col.sm5{width: 41.66666%;}
.col.sm6{width: 50%;}
.col.sm7{width: 58.33333%;}
.col.sm8{width: 66.66666%;}
.col.sm9{width: 75%;}
.col.sm10{width: 83.33333%;}
.col.sm11{width: 91.66666%;}
.col.sm12{width: 99.9999%;}

/*	Swifter for medium screen (601px) */

@media only screen and (min-width: 601px)
{

/* 12 colum grid system for medium state */

.col.md1{width: 8.33333%;}
.col.md2{width: 16.66666%;}
.col.md3{width: 25%;}
.col.md4{width: 33.33333%;}
.col.md5{width: 41.66666%;}
.col.md6{width: 50%;}
.col.md7{width: 58.33333%;}
.col.md8{width: 66.66666%;}
.col.md9{width: 75%;}
.col.md10{width: 83.33333%;}
.col.md11{width: 91.66666%;}
.col.md12{width: 99.99999%;}	

}

/*	Swifter for large screen (993px) */

@media only screen and (min-width: 993px)
{

/* 12 colum grid system for large state */

.col.lg1{width: 8.33333%;}
.col.lg2{width: 16.66666%;}
.col.lg3{width: 25%;}
.col.lg4{width: 33.33333%;}
.col.lg5{width: 41.66666%;}
.col.lg6{width: 50%;}
.col.lg7{width: 58.33333%;}
.col.lg8{width: 66.66666%;}
.col.lg9{width: 75%;}
.col.lg10{width: 83.33333%;}
.col.lg11{width: 91.66666%;}
.col.lg12{width: 99.99999%;}	

}

/*	Swifter for magin. */

/*	Swifter for border. */

.border-test{border: 1px outset #ccc;}
.border-radius{border-radius: 100%;}
.border-radius-half{border-radius: 50%;}
.border-radius-third{border-radius: 33.33333333333333%;}
.border-radius-quarter{border-radius: 25%;}

/*	Swifter for padding.	*/

.padding{padding: 10%;}
.padding-tiny{padding: 2% 4%;}
.padding-small{padding: 4% 8%;}
.padding-medium{padding: 8% 16%;}
.padding-large{padding: 16% 32%;}
.padding-xlarge{padding: 32% 64%;}
.padding-xxlarge{padding: 64% 128%;}
.padding-jumbo{padding: 128% 256%}

/*	Swifter for contents configuring. */

h1,h2,h3,h4,h5,h6{font-weight: 400;font-size: 0.85em;}
image,img{border: 0;}


/* Page resizing */

.half{width: 50%;}
.half.quarter{width: 75%;}
.half.third{width: 83.33333333333333%;}
.third{width: 33.33333333333333%;}
.quarter{width: 25%;}
.tiny{width: 15%;}

/* Main layout */

.block{display: block;}
.table{display: table;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.absolute{position: absolute;}
.relative{position: relative;}
.fix{position: fixed;}

/*	Extra layout */

.none{display: none;}
.flex{display: flex;}

.sr-li{display: list-item;}

.sr-caption{display: table-caption;}
.sr-thead{display: table-header-group;}
.sr-tfoot{display: table-footer-group;}
.sr-colgroup{display: table-column-group;}
.sr-rowgroup{display: table-row-group;}
.sr-td{display: table-cell;}
.sr-col{display: table-column;}
.sr-tr{display: table-row;}

.inline-flex{display: inline-flex;}
.inline-table{display: inline-table;}

.left{float: left;}
.right{float: right;}
.center{margin: 0 25% 0 25%;}

/*	Text Color*/

[color-white]{color: white;}
[color-black]{color: black;}

/*	Text Align */

[align-center]{text-align: center;}
[align-justify]{text-align: justify;}
[align-left]{text-align: left;}
[align-right]{text-align: right;}

/*	COLORS */
.text-amber{color:#ffc107 !important}.amber{color:#000 !important;background-color:#ffc107 !important}
.text-aqua{color:#00ffff !important}.aqua{color:#000 !important;background-color:#00ffff !important}
.text-blue{color:#2196F3 !important}.blue{color:#fff !important;background-color:#2196F3 !important}
.text-light-blue{color:#87CEEB !important}.light-blue{color:#000 !important;background-color:#87CEEB !important}
.text-brown{color:#795548 !important}.brown{color:#fff !important;background-color:#795548 !important}
.text-cyan{color:#00bcd4 !important}.cyan{color:#000 !important;background-color:#00bcd4 !important}
.text-blue-grey{color:#607d8b !important}.blue-grey{color:#fff !important;background-color:#607d8b !important}
.text-green{color:#4CAF50 !important}.green{color:#fff !important;background-color:#4CAF50 !important}
.text-light-green{color:#8bc34a !important}.light-green{color:#000 !important;background-color:#8bc34a !important}
.text-indigo{color:#3f51b5 !important}.indigo{color:#fff !important;background-color:#3f51b5 !important}
.text-khaki{color:#b4aa50 !important}.khaki{color:#000 !important;background-color:#f0e68c !important}
.text-lime{color:#cddc39 !important}.lime{color:#000 !important;background-color:#cddc39 !important}
.text-orange{color:#ff9800 !important}.orange{color:#000 !important;background-color:#ff9800 !important}
.text-deep-orange{color:#ff5722 !important}.deep-orange{color:#fff !important;background-color:#ff5722 !important}
.text-pink{color:#e91e63 !important}.pink{color:#fff !important;background-color:#e91e63 !important}
.text-purple{color:#9c27b0 !important}.purple{color:#fff !important;background-color:#9c27b0 !important}
.text-deep-purple{color:#673ab7 !important}.deep-purple{color:#fff !important;background-color:#673ab7 !important}
.text-red{color:#f44336 !important}.red{color:#fff !important;background-color:#f44336 !important}
.text-sand{color:#fdf5e6 !important}.sand{color:#000 !important;background-color:#fdf5e6 !important}
.text-teal{color:#009688 !important}.teal{color:#fff !important;background-color:#009688 !important}
.text-yellow{color:#d2be0e !important}.yellow{color:#000 !important;background-color:#ffeb3b !important}
.text-white{color:#fff !important}.white{color:#000 !important;background-color:#fff !important}
.text-black{color:#000 !important}.black{color:#fff !important;background-color:#000 !important}
.text-grey{color:#757575 !important}.grey{color:#000 !important;background-color:#9e9e9e !important}
.text-light-grey{color:#f1f1f1 !important}.light-grey{color:#000;background-color:#f1f1f1 !important}
.text-dark-grey{color:#3a3a3a !important}.dark-grey{color:white;background-color:#616161 !important}
.text-white-opacity{color:rgba(255,255,255,0.65) !important}
.text-black-opacity{color:rgba(0,0,0,0.60) !important}
.text-shadow{text-shadow:1px 1px 1px #444;letter-spacing:2px}